<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="main-header">
        <h1>Users</h1>
    </header>

    <nav class="main-nav">
        <a href="{{ url_for('add_user') }}" class="nav-btn">➕ Add a new user</a>
    </nav>

    <section class="main-content">
        <h2>All Users</h2>
        <div class="user-list">
            {% for user in users %}
                <a href="{{ url_for('user_movies', user_id=user.id) }}" class="user-bubble">{{ user.name }}</a>
            {% endfor %}
        </div>
    </section>

</body>
</html>
